* { margin: 0; padding: 0;}
#wrap {
    position:absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(11,9,47,1) 0%, rgba(118,92,164,1) 32%, rgba(155,104,171,1) 67%, rgba(215,181,209,1) 100%);
    text-align: center;
    /* animation */
    animation-name: ball;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#wrap > h1 { line-height:200px; color: white;}

/* 애니메이션의 변경지점을 지정하는 속성 */
@keyframes ball { 
    from{
        left: 0;
        transform: rotate(0deg);
    }
    
    25%{
        left: 250px;
        transform: rotate(180deg) translateX(-200px);
    }

    50%{
        left: 500px;
        transform: rotate(360deg);
    }

    75%{
        left: 250px;
        transform: rotate(180deg) translateY(-200px);
    }

    to {
        left: 0px;
        transform: rotate(0deg);
    }

} 